@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple-500: hsl(259, 100%, 65%);
  --red-400: hsl(0, 100%, 67%);

  --white: hsl(0, 100%, 100%);
  --grey-100: hsl(0, 0%, 94%);
  --grey-200: hsl(0, 0%, 86%);
  --grey-500: hsl(0, 1%, 44%);
  --black: hsl(0, 0%, 0%);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  font-family: "Poppins", sans-serif;
}

input,
button {
  font-family: inherit;
}

form {
  padding: 30px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: white;
  box-sizing: border-box;
}

form label {
  align-self: flex-start;
  margin: 15px 0px 10px 10px;
  font-size: 15px;
  color: var(--grey-500);
}

form input {
  background-color: transparent !important;
  padding: 20px;
  height: 50px;
  width: 90%;
  font-size: 25px;
  font-weight: 400;
  border-radius: 10px;
  border: 2px solid var(--grey-200);
  letter-spacing: 1px;
  cursor: pointer;
}

form input::placeholder {
  font-weight: 700;
  color: var(--grey-500);
}

form input:focus {
  background-color: transparent !important;
  border: 2px solid var(--purple-500);
  outline: none;
  caret-color: var(--purple-500);
}

form button {
  cursor: pointer;
  margin-top: 20px;
  width: 90%;
  height: 50px;
  font-size: 20px;
  background-color: var(--purple-500);
  border: 2px solid var(--black);
  border-radius: 20px;
  color: var(--white);
}

form button:hover,
form button:focus{
  background-color: var(--black);
  border: 2px solid var(--grey-100);
  transition: ease-in-out 0.4s;
}
